# Python ka chilla with baba ammar
## How to use jupyter notebook?
### Basics of Python
#### 1-My_First_programm_with_python

In [1]:
print(9+4)
print("Hello world")
print("We are learning python with Ammar")

13
Hello world
We are learning python with Ammar

## 2-Operators

In [2]:
print(5+7)
print(9-2)
print(9*3)
print(8/4)
print(8//2)
print(6/2)
print(6**2)
print(9%2)
print(2**7)
print(3**2/2*3/3+6-4)

12
7
27
2.0
4
3.0
36
1
128
6.5

In [ ]:
PEMDAS
   (Parentheses)
   Power_pr_Exponents
   Multiply*
   Divide /
   Add    +
   Subtract -

## 3-Stringe

In [4]:
print("strings_are_always_in_quotes")
print('Test for Single Quote')
print("Test for Double Quotes")
print('''Test for Tripple Quotes''')

strings_are_always_in_quotes
Test for Single Quote
Test for Double Quotes
Test for Tripple Quotes

## 4-Comments

In [5]:
print("How are you?")   # Press these two to Comment out Shift+/
print("Python with Ammar")  # Print String 
print(5+7) #  Print operators PEMDAS () power * Divide Addition  Subtraction

How are you?
Python with Ammar
12

## 5-Variables

In [6]:
print("Variables are objects containing specific values")
x = 5   #   Numeric or Integer Variable
print(x)
y = "Hello" #   Stringe Variable
x = x + 10
print(x)

# Types/Class of Vriables
type(x)     # No Result
print(type(x)) # Class Integer or Numbers
print(type(y)) # Class String

#   Rules to Assign a Variable
# 1-Variable shouldc contain, numbers, letters, and underscores
# 2-Do not start with numbers like (2x or 5y)
# 3-Spaces are not Allowed
# 4-Donot use keywords in functions
# 5-Short & Descriptive
# 6-Case sensitive (Always use lower case)

fruit_basket=5
print(type(fruit_basket))
print(fruit_basket)

Variables are objects containing specific values
5
15
<class 'int'>
<class 'str'>
<class 'int'>
5

## 6-Input_Variables

In [7]:
fruit_basket="mangoes"
print(type(fruit_basket))
print(fruit_basket)

# Input Function Simple
fruit_basket=input("what is your favorite fruit? ")
print(fruit_basket)

# Input Fubction 2nd Stage
name=input("what is your name? ")
greetings="Hi"
print(greetings, name)

# Another way of Stage 2 Input Function
name=input("what is your name? ")
print("Hello Brother", name)

# 3rd Stage Input Function
name=input("what is your name? ")
age=input("how old are you? ")
greetings="Hello"
print(greetings, name , " ,Still you sre young")

<class 'str'>
mangoes
what is your favorite fruit? mango
mango
what is your name? ammar
Hi ammar
what is your name? zia
Hello Brother zia
what is your name? new
how old are you? 15
Hello new  ,Still you sre young

## 7-Conditional_Logics

In [8]:
# Logical Operators are True/False or Yes/No or 0/1
# Equal to                      ==
# Not equal to                  !=
# Greater than                  >
# Less than                     <
# Greater Than or equal to      >=
# Less than or equal to         <=

print(5==6)
print(6!=5)
print(6<9)
print(5>9)
print(5<=5)
print(5>=6)

False
True
True
False
True
False

## 8-Type_Conversion

In [9]:
x=10.2          # integer
y= 10           # Float
z="Hello_world" # Stringe
y=x*y
print(type(y))
print(x, type(y))

#   implicit type conversion
x=x+y
print(x, "type of x is:", type(x))

#   Explicit type conversion
age=input("what is your age? ")
age=int(age)
print(type(int(age)))

#   Name
name=input("what is your name? ")
age=int(age)
print(name, type(str(name)))

<class 'float'>
10.2 <class 'float'>
112.2 type of x is: <class 'float'>
what is your age? 50
<class 'int'>
what is your name? zia
zia <class 'str'>

## 9-if_else_elif

In [17]:
hamaad_age=5
age_at_school=5
Can hammad go to school?
print(hamaad_age==age_at_school)

if hamaad_age==age_at_school:
    print("congtrats: hamaad can go to school")
elif hamaad_age > age_at_school:
    print("hamaad should go to school")
elif hamaad_age == 2:
    print("Take care of hamaad, as he is still baby")
else:
    print("hamaad cannot go to school")

Object `school` not found.
True
congtrats: hamaad can go to school

## 10-Functions

In [20]:
print("we are learnong python")

#   Defining a function
# 1
def print_irfan():
#     print("we are learnong python")
#     print("we are learnong python")
print_irfan()

# 2
def print_irfan():
text= "we are learnong python"
print(text)
print(text)
print_irfan()

# 3
def print_irfan(text):
print(text)
print(text)
print_irfan("we are learnong python")

# 4
    def school_calculator(age, text):
     if age==5:
         print("hamaad can go to scool")
     elif age>5:
         print("hamaad should go to higher school")
     else:
         print("hamaad is still baby")
school_calculator(10, "hamaad")

# Defining function of future
def future_age(age):
    new_age=age+25
    return new_age
    print(new_age)
future_predicted_age=future_age(5)
print(future_predicted_age)

IndentationError: expected an indented block (2032524061.py, line 8)

## 11-Loops

In [21]:
# While loop and for loop

# # while loop
# x=2
# while (x<5):
#     print(x)
#     x=x+1

# # For loop
# for x in range(10, 15):
#     print(x)
   
# # Array
# days=["Monday, Tue, Wed, Thu, Fri,,Sat, Sun"]
# for d in days:
#     print(d)

# days=["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]
# for d in days:
#     print(d)

# days= ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]
# for d in days:
#     if (d=="Fri"):break # Loop stops
#     print(d)

## 12-Import_Lib

In [22]:
# if we want to print thr value of Pi

# import math
# print("value of pi is", math.pi )

# import statistics
# x=[150, 450, 850, 950, 650]
# print(statistics.mean(x))

# numpy, pamdas

# import pandas as pd
# import numpy as np
# import matplotlib.pyplot as ply
import seaborn as sns

# import dataset
sns.load_dataset("iris")

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

## 13-Troubleshooting

In [24]:
# 1
# print("we are learning python") # If commas or quotes are not used than syntax error rises.

# 2
# print(25/0)  # Runtime error 

# 3
name="ammar"
# print("hello name") # Symantic error (This is our mistake)
print("hello", name)

hello ammar